name: Tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: ['windows-2022']
        python: ['3.11', '3.12']

    runs-on: ${{ matrix.os }}

    env:
      GH_TOKEN: ${{ secrets.SOFISTIK_DLL_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test]

      - name: Download SOFiSTiK DLLs
        run: |
          mkdir sofistik_dlls
          gh repo clone https://github.com/StudioWEngineers/SOFiSTiK-DLLs.git sofistik_dlls

      - name: Set DLL path
        run: echo "SOFISTIK_DLL_PATH=${{ github.workspace }}\\sofistik_dlls\\2025" >> $env:GITHUB_ENV

      - name: Add DLL folder to PATH
        run: echo "${{ github.workspace }}\\sofistik_dlls" >> $env:GITHUB_PATH

      - name: Run tests
        run: py -m unittest discover --verobse

