name: Tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: ['windows-latest']
        python: ['3.12']

    name: "Python ${{ matrix.python }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test]

      - name: Download SOFiSTiK DLLs
        env:
          GH_TOKEN: ${{ secrets.SOFISTIK_DLL_TOKEN }}
        shell: bash
        run: |
          gh repo clone StudioWEngineers/SOFiSTiK-DLLs sofistik_dlls

      - name: Set DLL path
        run: echo "SOFISTIK_DLL_PATH=${{ github.workspace }}/sofistik_dlls/2022/" >> $env:GITHUB_ENV

      - name: Add DLL folder to PATH
        run: echo "${{ github.workspace }}/sofistik_dlls/2022/" >> $env:GITHUB_PATH

      - name: Run tests
        run: |
          python -m unittest discover -s tests -p "test_*.py" --verbose
